.app {
  text-align: center;

  &__title {
    h2 {
      color: rgba(0, 0, 0, 0.6);
      margin: 32px 0 24px;
      font-size: 2.125rem;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 400;
      line-height: 1.17;
      letter-spacing: 0.00735em;
    }
  }

  &__search {
    display: flex;
    justify-content: center;
  }
}
